* {
  font-size: 18px;
  color: aliceblue;
  font-family: 'Montserrat';
  user-select: none;
}
*:focus {
  outline: none;
}
input {
  color: #ffffff;
  font-size: 16px;
  height: 40px;
  background-color: #000;
  padding: 1em;
  border: none;
}
select {
  color: #ffffff;
  font-size: 16px;
  background-color: #000;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
span {
  font-size: 16px;
}
ul {
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
}
li {
  font-size: 16px;
}
.table {
  padding: 1em;
  line-height: 2em;
}
th,
td {
  font-size: 15px;
}
.navigation {
  width: 250px;
  position: fixed;
  bottom: 8%;
  margin-left: 2em;
  text-align: center;
}
.sidebar {
  width: 250px;
  position: fixed;
  top: 12%;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  animation: slideIn 0.5s forwards ease-in-out;
}

.sidebar.collapsed {
  animation: slideOut 0.5s forwards ease-in-out;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-92%);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-92%);
  }
  to {
    transform: translateX(0);
  }
}
.sidebar-item {
  align-items: center;
  cursor: pointer;
}
.sidebar-button {
  width: 100%;
  display: flex;
  align-items: center;
}
.checkin {
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
}
.checkin:hover {
  transition: all 0.2s ease;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.061);
}

.checkin:active {
  box-shadow: none;
  transform: translateY(2px);
  transition: all 0.2s ease;
}
.sidebar-list {
  margin-left: 1em;
  display: flex;
  align-items: center;
}
.sidebar-button span {
  padding-left: 0.2em;
  font-size: 14px;
}
.sidebar-dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.sidebar-dropdown.active {
  max-height: 225px;
}
.sidebar-button.highlighted {
  background: rgb(2, 242, 255);
}
.slide-panel {
  height: 99.7vh;
  transition: 0.3s;
  padding: 1em;
  line-height: 2em;
  background-color: #1a1a1a;
  overflow-x: hidden;
}

.slide-panel-item {
  color: aliceblue;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 14px;
}

.dashboard_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  height: 18em;
  padding: 1rem;
  overflow: auto;
}
p {
  font-size: 15px;
}
strong {
  font-size: 16px;
}
.toggle_menu_container {
  position: absolute;
  display: inline-block;
  z-index: 9999;
}

.menu_btn {
  display: block;
  width: 125px;
  z-index: 9999;
  border-radius: 4px;
  position: relative;
  text-align: center;
}

.menu_span {
  font-size: 12px;
  color: #fff;
}
.chat_container {
  height: 13em;
  overflow: auto;
  background: #1a1a1a;
}
.chat_item {
  font-size: 12px;
  display: flex;
  justify-content: space-evenly;
  margin: 0.4em;
  align-items: center;
}

.chat_name {
  display: flex;
  align-items: center;
}

.timestamp {
  margin-left: auto;
}
.last {
  margin-left: 1em;
}
.last,
.header,
.timestamp {
  font-size: 14px;
}
.video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.content-overlay {
  position: relative;
  z-index: 1;
}
.form-container {
  display: flex;
  justify-content: center;
}
.login {
  width: 500px;
  padding: 6%;
  display: flex;
  flex-direction: column;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.full-width {
  width: 100%;
  padding: 10px;
}

.pass-box {
  position: relative;
}

.password-input {
  position: relative;
}

.password-input input {
  width: calc(100% - 40px);
}

.password-toggle {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.form-group {
  position: relative;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group .password-input {
  display: flex;
  align-items: center;
}

.form-group .password-input input {
  flex: 1;
}

.form-group .password-toggle {
  margin-left: -30px;
}
.forgot-link {
}
.pass-link {
  text-decoration: none;
}
.login-btn {
  width: 100%;
  margin-top: 20px;
}
:root {
  --toastify-color-light: #161616;
  --toastify-color-info: #1e1f28bf;
  --toastify-color-success: #8baa36;
  --toastify-color-warning: #f6c23e;
  --toastify-color-error: #e74a3b;
  --toastify-font-family: Poppins, sans-serif;
  --toastify-text-color-light: #080808;
}
.progress {
  height: 20px;
  border: none;
  border-radius: 0;
  background-color: #029dbb;
  width: 100%;
  margin-top: 10px;
  transition: width 1.5s ease-in-out;
}

label {
  font-size: 16px;
}

#chat-container {
  margin: auto;
}

#chat-box {
  height: 450px;
  overflow-y: auto;
  background-color: #121212;
  border: none;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 17px;
}

#message_input {
  width: calc(100% - 250px);
  padding: 12px 5px 5px 15px;
  line-height: normal;
  background-color: #689fb460;
  border: 1px solid #689fb4;
  border-radius: 0px;
  color: white;
  font-size: 15px;
  overflow: hidden;
  height: 45px;
  box-sizing: border-box;
}

#message_input::placeholder {
  color: #888;
  opacity: 1;
}
#task_input {
  width: 100%;
  padding: 12px 5px 5px 15px;
  background-color: #689fb460;
  border-radius: 0px;
  color: white;
  font-size: 15px;
  font-family: 'Calibre', sans-serif;
  overflow-y: hidden; /* Hide vertical scrollbar initially */
  resize: none; /* Disable textarea resizing by user */
}
.text_area {
  width: 100%;
  padding: 12px 5px 5px 15px;
  background-color: #689fb460;
  border-radius: 0px;
  color: white;
  font-size: 15px;
  font-family: 'Calibre', sans-serif;
  overflow-y: auto; /* Hide vertical scrollbar initially */
  resize: none; /* Disable textarea resizing by user */
}
#task_input::placeholder {
  color: #888;
  opacity: 1;
}
#send-button:hover {
  background-color: #1669c2;
}

#clipboard-button {
  position: absolute;
  top: 10px;
  right: 10px;

  padding: 5px;
  font-size: 22px;
  background-color: #cacdd5;
  width: 50px;
  height: 50px;
}

#clipboard-button:hover {
  background-color: #1669c2;
}

.tooltip {
  display: none;
  background-color: #303134;
  color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  z-index: 500;
}

#voice-indicator {
  display: none;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  background-color: #4caf50; /* Green background for visibility */
  color: white;
  transition: background-color 0.3s;
}

.voice-active {
  background-color: #4caf50; /* Green background for active mode */
  color: white;
}

.copy-btn {
  font-size: 15px;
  margin-top: 4px;
  margin-bottom: 2px;
}

.message {
  background-color: #1a73e8; /* Using the button color to differentiate */
  color: white;
  padding: 10px 15px;
  margin: 5px 0 10px auto; /* Adjusted margin */
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
  text-align: left;
}

.message.response {
  background-color: #303134; /* Matching input field background */
  color: white;
  padding: 10px 15px;
  margin: 5px auto 10px 0; /* Adjusted margin to align left */
  border-radius: 10px;
  max-width: 75%;
  word-wrap: break-word;
  text-align: left;
}

.message span {
  display: block;
  margin-bottom: 5px;
}

.message.error {
  color: #e66767;
}
.alert.error {
  color: #e72121;
  font-size: small;
}

.message p {
  margin: 0.5em 0;
}

.message ul,
.message ol {
  padding-left: 20px;
  margin: 0.5em 0;
}

.message li {
  margin: 0.25em 0;
}

.message h1,
.message h2,
.message h3 {
  margin: 0.75em 0;
  font-weight: bold;
}

.message strong {
  font-weight: bold;
}

.message br {
  margin: 0;
  line-height: normal;
}

.btns {
  display: block;
  justify-content: space-between;
}

.btns_confirm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lds-ripple {
  display: inline-block;
  width: 10px;
  height: 10px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 25px;
    left: 25px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 25px;
    left: 25px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 25px;
    left: 25px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}

.words {
  padding: 1em;
  font-weight: 900;
}

.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading div {
  position: absolute;
  animation: loading 0.4s linear infinite;
  width: 80px;
  height: 80px;
  bottom: 80%;
  left: 45%;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #029dbb;
}
.loadingio {
  width: 300px;
  height: 300px;
  display: inline-block;
}
.loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.search-input-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa; /* Change the color as needed */
}

.avatar {
  height: 40px;
  width: auto;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(66, 208, 255);
  border-radius: 50%;
  padding: 0.5em;
  margin-right: 1em;
}
.Message {
  display: flex;
  flex-direction: row;
  background-color: lightblue;
  width: 30em;
  height: auto;
  border-radius: 0.5em;
  padding: 0.2em;
  margin: 1em;
}
.name {
  font-weight: bold;
}
.block {
  display: inline-block;
  width: 100%;
  height: auto;
}

.code-task-frame {
  position: relative;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.full-screen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.code-container {
  width: 100%;
}

.button-container {
  margin-top: 1em;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tiny-loadingio {
  margin-left: 10px;
  margin-top: 1.4em;
  transform: scale(0.3); /* Adjust this value to make the spinner smaller or larger */
  /* other styles as required */
}
.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

video {
  width: 100%;
  height: auto;
}

.left_side_nav {
  width: 60px;
  cursor: pointer;
  margin-left: 10px;
}

/**/

/* DockDemo.css */

.dock-demo .dock-window {
  width: 100%;
  height: 650px;
  position: relative;
  background-image: url('https://primefaces.org/cdn/primereact/images/dock/window.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.dock-demo .p-dock {
  z-index: 1000;
}
.dock-demo .dock-advanced .p-dialog-mask,
.dock-demo .dock-advanced .p-galleria-mask,
.dock-demo .dock-advanced .p-galleria-mask .p-galleria-item-nav,
.dock-demo .dock-advanced .p-toast {
  position: absolute;
}
.dock-demo .dock-advanced .p-dialog .p-dialog-header {
  padding: 0.2rem;
}
.dock-demo .dock-advanced .p-dialog .p-dialog-content {
  padding: 0.5em;
}
.dock-demo .dock-advanced .p-dialog p {
  margin-top: 0;
}
.dock-demo .dock-advanced .p-dialog .p-terminal {
  background-color: #212121;
  color: #fff;
  border: 0 none;
  min-height: 18rem;
  height: 100%;
}
.dock-demo .dock-advanced .p-dialog .p-terminal .p-terminal-command {
  color: #80cbc4;
}
.dock-demo .dock-advanced .p-dialog .p-terminal .p-terminal-prompt {
  color: #ffd54f;
}
.dock-demo .dock-advanced .p-dialog .p-terminal .p-terminal-response {
  color: #9fa8da;
}
.dock-demo .dock-advanced .p-dialog .p-tree {
  height: 100%;
  border-radius: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
}
.dock-demo .dock-advanced .p-toast {
  top: 20px;
}
.dock-demo .p-menubar {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
}
.dock-demo .p-menubar .menubar-root {
  font-weight: bold;
  padding: 0 1rem;
}
.dock-demo .p-menubar .p-menuitem-link {
  padding: 0.5rem 0.75rem;
}
.dock-demo .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
  padding: 0.5rem 0.75rem;
}
.dock-demo .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link > .p-submenu-icon {
  display: none;
}
.dock-demo .p-menubar .p-menubar-end span,
.dock-demo .p-menubar .p-menubar-end i {
  padding: 0 0.75rem;
}
.dark-tooltip .p-tooltip .p-tooltip-arrow {
  border-top-color: var(--surface-900);
}
.dark-tooltip .p-tooltip .p-tooltip-text {
  background-color: var(--surface-900);
}
